@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img,
iframe,
video {
    vertical-align: middle;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #1d1c1f;
    min-width: 1450px;
}

/*
bitter_font
font-family: 'Bitter';
notosanskr_font
font-family: 'NotoSansKR';
open sans_font
font-family: 'Open Sans';
*/


/*top*/
.p_f {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

#top {
    background-color: #c5a04f;
    border-top: #3a3a3a 8px solid;
    padding-bottom: 15px;
}

.top_inner {
    width: 1320px;
    margin: 0 auto;
    height: 25px;
    margin-top: 10px;
    position: relative;
}

.top_inner ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.top_text {
    margin-right: 15px;
}

.top_text {
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #c5a04f;
    font-size: 18px;
    transition: all 0.5s;
}


.top_text:hover {
    background-color: #efefef;
    border-radius: 10px;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #c5a04f;
    font-size: 18px;
}

.top_icon a img {
    height: 30px;
}

.top_icon {
    padding-left: 22px;
}

.top_icon {
    transition: all 0.8s;
}

.hover_icon_1 {
    position: absolute;
    top: 0px;
    right: 156px;
    transition: all 0.5s;
}

.hover_icon_2 {
    position: absolute;
    top: 0px;
    right: 104px;
    transition: all 0.5s;
}

.hgs_ko {
    font-family: 'NotoSansKR';
}

.hover_icon_3 {
    position: absolute;
    top: 0px;
    right: 52px;
    transition: all 0.5s;
}

.hover_icon_4 {
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 0.5s;
}

.top_icon:hover :nth-child(2) {
    opacity: 0.0;
}


/*header*/
#header {
    background-color: #3a3a3a;
}

.gnb {
    width: 1320px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.gnb_logo a img {
    width: 240px;
}

.gnb_list {
    display: flex;
    justify-content: flex-end;
}

.gnb_list>li {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
    color: #efefef;
    padding: 22px 55px 0px 55px;
    transition: all 0.5s;
    position: relative;
}

.gnb_list>li>a {
    display: block;
}

.gnb_list>li:hover {
    color: #c5a04f;
}

.solid {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    height: 5px;
    background: #c5a04f;
    opacity: 1;
    transform: scaleX(0);
    transition-duration: 0.5s;
}

.gnb_list>li:hover .solid {
    transform: scaleX(2);
    opacity: 1;
    visibility: visible;
}


/*sub*/
.sub {
    position: absolute;
    top: 82px;
    left: 0;
    width: 100%;
    display: none;
}

.sub li a {
    display: block;
    padding: 10px 0;
    background: rgba(75, 75, 75, 0.8);
    color: #efefef;
    text-align: center;
    transition: all 0.3s;
}

.sub li a:hover {
    background: #c5a04f;
    color: #1d1c1f;
    font-weight: bold;
}

.sub>li {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
}

.sub_en>li {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
}

.sub_list {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
}


/*main_banner*/
#main_banner {
    padding-top: 220px;
    height: 100%;
    padding-bottom: 200px;
}

/*
@keyframes zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.swiper-slide-active {
    animation: zoom 2s;
}
*/

/*mbi_top_text*/
.mbi_top_text {
    width: 1320px;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
    color: #1d1c1f;
}

/*mbi_list*/
.mbi_list {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.mbi_list li {
    font-family: 'NotoSansKR';
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
    color: #1d1c1f;
    transition: all 0.6s;
    padding-bottom: 30px;
}

.mbi_list li:hover {
    color: #aeaaa9;
}

/*main_banner_btn*/
.swiper-button-next::after {
    content: url(../images/SNS_ICON/btn/next_btn.png);
}

.swiper-button-next {
    top: 58%;
    right: 50px;
    transform: translate(-50%, -50%);
}

.swiper-button-prev::after {
    content: url(../images/SNS_ICON/btn/prev_btn.png);
}

.swiper-button-prev {
    top: 58%;
    left: 50px;
    transform: translate(50%, -50%);
}

.main_banner_inner .swiper-pagination-bullet {
    background: #ccc;
}

.hdis_fb_img a img {
    height: 100%;
    width: 100%;
}

/*.hd_fb_text_top*/
.hd_fb_text_top {
    position: absolute;
    top: 21%;
    left: 16%;
}

.tt_top {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
}

.tt_middle {
    font-size: 40px;
    padding-top: 30px;
    font-weight: 500;
    line-height: 50px;
}

.tt_bottom {
    font-size: 20px;
    padding-top: 35px;
    font-weight: 500;
}

/*.hd_fb_text_bottom*/
.hd_fb_text_bottom {
    position: absolute;
    bottom: 21%;
    left: 16.5%;
}

.tb_middle {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 400;
    text-decoration-line: underline;
}


/*magazine*/
.magazine_inner {
    width: 1320px;
    margin: 0 auto;
    height: 1404px;
    position: relative;
}

.magazine_top {
    display: flex;
    justify-content: space-evenly;
}

.magazine_bottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}

.mt_text_top {
    background-color: #1d1c1f;
    margin-top: 8px;
    padding: 6px 9px 1px 8px;
    width: 50px;
    color: #efefef;
    text-align: center;
    font-size: 14px;
    font-family: 'NotoSansKR';
    font-weight: 500;

}

.mt_text_top_sub {
    background-color: #1d1c1f;
    margin-top: 8px;
    padding: 6px 9px 1px 8px;
    width: 100px;
    color: #efefef;
    text-align: center;
    font-size: 14px;
    font-family: 'NotoSansKR';
    font-weight: 500;
}

.m_middle_en {
    font-family: 'Open Sans';
    font-size: 21px;
}

.mt_text_middle {
    margin-top: 8px;
    color: #1d1c1f;
    font-size: 20px;
    font-family: 'NotoSansKR';
    font-weight: bold;
    letter-spacing: -1px;
}

.m_bottom_en {
    font-family: 'Open Sans';
    font-size: 19px;
}

.mt_text_bottom {
    margin-top: 8px;
    color: #1d1c1f;
    font-size: 18px;
    font-family: 'NotoSansKR';
    font-weight: 500;
}

.m_position_bottom {
    padding-top: 140px;
}

.m_center_logo {
    position: absolute;
    top: 50%;
    left: 38%;
    z-index: 5;
}

.mi_top_text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans';
    padding-bottom: 40px;
}

.magazine_top a:hover .img_op {
    opacity: 0.6;
}

.magazine_bottom a:hover .img_op {
    opacity: 0.6;
}

.img_op {
    transition: all 0.6s;
}




/*event*/
#event {
    padding-top: 200px;
    margin-bottom: 150px;
}

.event_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.ei_top_text {
    font-size: 40px;
    font-weight: bold;
    font-family: 'NotoSansKR';
    color: #1d1c1f;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    letter-spacing: -1px;
}

/*event_inner_left*/
.event_inner_left {
    height: 784px;
    width: 645px;
    overflow: hidden;
    border-radius: 70px 0px 70px 0px;
    position: relative;
}

.event_il_text p {
    color: #aeaaa9;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: 34%;
    left: 60px;
    z-index: 10;
    transition: all 0.6s;
}

.event_en {
    font-family: 'Open Sans';
    font-size: 15px;
}

.eveny_text_bg {
    width: 390px;
    height: 86px;
    position: absolute;
    bottom: 32.5%;
    left: 0;
    background-color: #1d1c1f;
    opacity: 0.4;
    transition: all 0.6s;
}

.event_il_text h1 {
    color: #aeaaa9;
    font-family: 'Bitter';
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 35%;
    left: 60px;
    z-index: 10;
    transition: all 0.6s;
}

.evevt_img {
    transition: all 0.6s;
    position: relative;
    width: 100%;
    height: 100%;
}

.event_inner_left:hover .evevt_img {
    transform: scale(1.3, 1.3);
    transform-origin: top;
}

.event_inner_left:hover .eveny_text_bg {
    opacity: 0.9;
    transform: scale(2, 1.5);
    transform-origin: left;
}

.event_inner_left:hover .event_il_text h1 {
    transform: translateX(100px);
    transform: scale(1.9);
    transform-origin: left;
    color: #efefef;
}

.event_inner_left:hover .event_il_text p {
    transform: translate(100px, 100px);
    transform: scale(1.5);
    transform-origin: top left;
    color: #efefef;
}

/*.event_inner_right*/
.event_inner_right {
    height: 784px;
    width: 623px;
    overflow: hidden;
    position: relative;
}

.event_ir_top {
    height: 364px;
    width: 623px;
    overflow: hidden;
    border-radius: 0px 70px 0px 70px;
    position: relative;
}

.event_img_r {
    transition: all 0.6s;
    position: relative;
    width: 100%;
    height: 100%;
}


.event_il_text_r p {
    color: #aeaaa9;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: 30%;
    right: 60px;
    z-index: 10;
    transition: all 0.6s;
    line-height: 18px;
    text-align: right;
}

.event_text_r_bg {
    width: 349px;
    height: 86px;
    position: absolute;
    bottom: 28%;
    right: 0;
    background-color: #1d1c1f;
    opacity: 0.4;
    transition: all 0.6s;
}

.event_il_text_r h1 {
    color: #aeaaa9;
    font-family: 'Bitter';
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 35%;
    right: 60px;
    z-index: 10;
    transition: all 0.6s;
}

.event_ir_top:hover .event_img_r {
    transform: scale(1.5, 1.5);
    transform-origin: center;
}

.event_ir_top:hover .event_text_r_bg {
    opacity: 0.9;
    transform: scale(2, 1.3);
    transform-origin: right;
}

.event_ir_top:hover .event_il_text_r h1 {
    transform: translateX(100px);
    transform: scale(1.3);
    transform-origin: bottom right;
    color: #efefef;
}

.event_ir_top:hover .event_il_text_r p {
    transform: translateX(100px);
    transform: scale(1.3);
    transform-origin: top right;
    color: #efefef;
}

.event_ir_bottom {
    height: 364px;
    width: 623px;
    overflow: hidden;
    border-radius: 0px 70px 0px 70px;
    position: relative;
    margin-top: 53px;
}

.event_ir_bottom:hover .event_img_r {
    transform: scale(1.3, 1.3);
    transform-origin: left center;
}

.event_ir_bottom:hover .event_text_r_bg {
    opacity: 0.9;
    transform: scale(2, 1.3);
    transform-origin: right;
}

.event_ir_bottom:hover .event_il_text_r h1 {
    transform: translateX(100px);
    transform: scale(1.3);
    transform-origin: bottom right;
    color: #efefef;
}

.event_ir_bottom:hover .event_il_text_r p {
    transform: translateX(100px);
    transform: scale(1.3);
    transform-origin: top right;
    color: #efefef;
}


/*footer*/
#footer {
    background: #3a3a3a;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    color: #aeaaa9;
    padding-top: 30px;
}

/*footer_top*/
.fi_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.fitl_list {
    display: flex;
}

.fitl_list li {
    padding-right: 70px;
    font-weight: 700;
}

.fit_left>ul>li>ul>li>a:hover {
    color: #efefef;
}

.fitl_list li ul li a {
    transition: all 0.5s;

}

.fitll_bold {
    color: #efefef;
    font-weight: bold;
}

/*footer top right*/
.fitr_list li {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
}

.fitr_list li a img {
    width: 32px;
}


.fit_right {
    align-items: center;
}

.fit_right>ul>li>a:hover {
    color: #efefef;
}

.fitr_list li a {
    transition: all 0.5s;
}

/*footer icon position*/
.fit_right {
    height: 120px;
    position: relative;
}

.f_basic_icon {
    position: absolute;
    top: 0;
    left: 0;
}

.f_basic_icon_1 {
    position: absolute;
    top: 47px;
    left: 0;
}

.f_basic_icon_2 {
    position: absolute;
    top: 94px;
    left: 0;
}

.f_map_ho:hover .f_basic_icon {
    opacity: 0;
}

.f_map_ho:hover .f_basic_icon_1 {
    opacity: 0;
}

.f_map_ho:hover .f_basic_icon_2 {
    opacity: 0;
}

.fitr_list li a img {
    transition: all 0.5s;
}

/*footer_bottom*/
.fi_bottom {
    padding-bottom: 20px;
}

.fib_1,
.fib_2,
.fib_3,
.fib_4 {
    display: flex;
    justify-content: flex-start;
}

.fib_1 li {
    padding-right: 32px;
    font-family: 'NotoSansKR';
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 15px;
}

.fib_2 li {
    padding-right: 20px;
    font-family: 'NotoSansKR';
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.fib_en {
    font-family: 'Open Sans';
}

.fib_3 li {
    padding-right: 20px;
    font-family: 'NotoSansKR';
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.fib_4 {
    font-family: 'Open Sans';
    padding-top: 8px;
    font-weight: 700;
    font-size: 14px;
}

.fib_1>li>a:hover {
    color: #efefef;
}

.fib_2>li>a:hover {
    color: #efefef;
}

.fib_3>li>a:hover {
    color: #efefef;
}

.fib_4>li>a:hover {
    color: #efefef;
}

.fi_bottom ul li a {
    transition: all 0.5s;
}